* {
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
  font-size: 16px;
}
.flex1 {
  flex: 1;
}
.header {
display: flex;
background-color: #343a40;
padding: 15px 50px;
align-items: center;
}
.menu-items-ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
}
.menu-items-ul li {
  padding-left: 25px;
}
.menu-items-ul li a {
  color: aliceblue;
  text-decoration: none;
}
.sub-menu {
  position: sticky;
  top: 0;
  padding: 20px 20px;
  background: #ffff;
}
.sub-menu-items {
  display: flex;
  align-items: center;
}
.sub-menu-items {
  list-style: none;
  justify-content: space-between;
}
.sub-menu-items li {
 padding: 9px 20px;
 color: #727171;
 font-size: 18px;
 font-weight:200;
 
}
.sub-menu-items li:hover {
  color: #fff;
  background:orangered;
  border-radius: 50px;
}
.adverstaisment {
  padding: 0px 75px;
  display: flex;
  position: relative;
  bottom: 40px;
  flex-wrap: wrap; 
}
.advertaisment-boxes {
  height: 50px;
  background: orangered;
  flex: 1;
  padding: 25px 35px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  flex-wrap: wrap; 
  margin-right: 30px;
}
.advertaisment-boxes div {
  flex: 1;
}
.know-more {
  float: right;
}
.trending-courses {
  padding:0px 75px;
  margin-bottom: 50px;
 
}
.displayflex{
  display: flex;
  
}
.p20 {
  padding-top: 20px;
}
.courses-list {
  display: flex;
  width: 25%;
  box-shadow: 0 0 15px 1px rgb(0 0 0 / 15%) !important;
  margin-right: 15px;
}
.courses-list-details {
  padding: 20px;
}
.course-name {
  background: #ec008c;
  padding: 15px 20px;
  color: #fff;
  font-weight: 300;
  padding: 10px;
}
.course-details {
  padding: 10px;
  text-align:justify;
}

.course-reviews  {
 padding: 10px;
}
.course-reviews p {
  padding-top: 15px;
}
.top-catgoeies {
  padding: 0px 75px;
  margin:50px 0px;
}
.discover-top-categories {
  padding: 25px 125px;
}
.categories-items {
  background: #fff;
  min-height: 130px;
  width: 15%;
  margin-right: 10px;
  box-shadow: 0 0 15px 1px rgb(0 0 0 / 15%) !important;
  
}
.category-inner p {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 7;
 
}
.categories-items:hover {
  background:red;
  height: 190px;
  width: 15%;
  margin-right: 10px;
  box-shadow: 0 0 15px 1px rgb(0 0 0 / 15%) !important;
  
}
.contatus-button{
  height: 100px;
  background: #9CECFB;
  padding: 25px;
justify-content: center;
align-items: center;
text-align: center;
}
.contatus-button button{
  margin-top: 0px;
}
.contatus-button-inner {
  margin-top: 50px;
  
}
.contatus-button-inner p {
  color: #ffff;
  font-weight: bold;
}
.contatus-button-inner button {
  margin: 5px;
  border-radius: 2px;
  padding: 10px;
  color: #9CECFB;
  background: #fff;
  border: 1px solid #fff;
}
.top-categories {
  background-image: url('./images/12490.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 30px;
  justify-content: center;
  align-items: center;
  text-align: center;
  
}
.top-categories h2 {
  font-size: 2.5rem;
  font-weight: bold;
  color: rgba(129, 129, 207, 0.897);
}
.top-categories h3 {
 
  line-height: 40px;
  font-size: 1.3rem;
  color: rgba(129, 129, 207, 0.897);
}
.courses-list{
  display: flex;
  justify-content: space-around;
}
.courses-count{
  background-color: #fff;
  padding: 30px 20px;
  
}
.courses-count p {
  font-size: 50px;
  color: rgba(129, 129, 207, 0.897);
  font-weight: bold;
}
.flex-1{
  flex: 1;
}
.flex-2{
  flex: 2;
}
.flex-3{
  flex: 3;
}

.footer{
  background-color: black;
  padding:30px
}
.footer-container{

  color: white;
}
.footer-image{
  margin-right: 30px;
  margin-bottom: 10px;
}
.footer-image p {
  
  color: #727171;
  text-align: justify;
}
.display-flex {
  display: flex;
  padding: 20px;
}
.list-item {
  list-style: none;
  margin-top: 20px;
}
.list-item li {
  margin-left: 5px;
  margin-top: 20px;
}
.companylist{
  padding-left: 20px;
}
.companylist h3{
  color: #aea2a2;
}
hr {
  margin-top: 20px;
 
}
.bottom-content{
display: flex;
margin: 1% 20%;
}
.bottom-content p {
  margin-right: 30px;
}
.reviews {
  margin: 15px 75px;
}
.reviews h2 {
  font-size: 28px;
  color: #212529;

}
.reviews-list {
  display: flex;
}
.reviews-inner {

  border: 1px solid #ffff;
  box-shadow: 0 0 15px 1px rgb(0 0 0 / 15%) !important;
}
.review-header {
 
  background: linear-gradient(to left, #feb47b, #ff7e5f) ;
}
.review-header div {
  display: flex;
  padding: 20px;
  justify-content: center;
  align-items: center;
}
.letter-round{
  
  background: #fff;
  border-radius: 50%;
  font-size: 35px;
  -moz-border-radius: 0.8em;
  -webkit-border-radius: 0.8em;
  color: royalblue;
  display: inline-block;
  font-weight: bold;
  line-height: 1.6em;
  margin-right: 5px;
  text-align: center;
  width: 1.6em; 
}
.customer-name{
 
  text-align: center;
  padding-left: 20px;
}
.reviews-content {
  text-align: justify;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
.review-matter {
  margin-top: 10px;
}
.categories-items-list {
  color: rgba(129, 129, 207, 0.897);
  
  display: flex;
  align-items: center;
  justify-content: center;
}
.categories-inner {
  margin-right: 10px;
  padding: 30px 20px;
  background: #fff;
  box-shadow: 0 0 15px 1px rgb(0 0 0 / 15%) !important;
}
.f35 {
  font-size: 50px;
}

.m10{
  margin-top: 10px;
}
.our-trainers {
  background: #fff;
  padding: 0px 75px;
  margin: 0px 35px;
}
.our-trainers h3 {
  padding: 0px 10px;
  color: #212529;
  font-size: 20px;
}
.our-trainers-wrapper {
  margin: 30px 0px;

}
.companies-list {
  display: flex;
  padding:20px;
  background-image: url('./images/bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0 0 15px 1px rgb(0 0 0 / 15%) !important;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}
.companies {
  display: flex;
  padding: 10px;
}
.contact-business {
  margin: 50px 0px;
  background-image: url('./images/buisness.png');
  background-size: cover;
  padding: 50px 150px;
}
.business-heading {
  padding: 10px 10px 10px 0px;
  font-size: 28px;
  font-weight: bold;
  color: #ffff;
  
}
.business-heading-h4 {
  padding: 10px 10px 10px 0px;
  font-size: 24px;
  font-weight: bold;
  margin: 0px 0px 8px;
  color: #ffff;
  
}
.business-heading-h5 {
  padding: 10px 10px 10px 0px;
  font-size: 20px;
  font-weight: bold;
  margin: 0px 0px 8px;
  color: #ffff;
}
.button-contact {
  margin-top: 10px;
  padding: 12px 30px;
  background:#ffff;
  font-size: 15px;
  font-weight: bold;
  color: rgba(129, 129, 207, 0.897);
}